%% -*- mode: Erlang; -*-
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
  {ulitos, ".*", {git, "https://github.com/palkan/ulitos.git", {tag, "v0.2.0"}}},
  {eunit_formatters, ".*", {git, "https://github.com/seancribbs/eunit_formatters.git", {branch, "master"}}},
  {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git",{branch,"master"}}}
]
}.
{erl_opts, [debug_info, {i, "apps"}, warn_unused_vars, {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [
  no_tty,
  {report,{eunit_progress, [colored, profile]}}]}.