%% -*- mode: Erlang; -*-

{require_otp_vsn, "18"}.
{deps, [
  ulitos,
  poolboy
]}.

{profiles, [
  {prod, [
    {erl_opts, [warn_unused_vars, warnings_as_errors]}
  ]},
  {test, [
    {deps, [eunit_formatters]},
    {erl_opts, [debug_info]},
    {eunit_opts, [no_tty, {report, {eunit_progress, [colored, profile]}}]}
  ]}
]}.

{plugins, [rebar3_hex]}.

{erl_opts, [debug_info, {platform_define, "^(18|19|20)\.", 'OLD_LOGGER'}]}.

{cover_enabled, true}.

{eunit_opts, [
  no_tty,
  {report, {eunit_progress, [colored, profile]}}
]}.

{shell, [{config, "files/app.config"}, {apps, [ulitos, poolboy, influx_udp]}]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.
